* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
body {
   
    background: url("/Images/background.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}
.intro > h1{
    margin-bottom: -0.4em;
    font-weight: 600;
    color: #293264;
    font-size: 3rem;
}
.intro > p{
    font-size: 1.5em;
    font-weight: 300;
    color: #293264;
    margin-bottom: -0.2em;
}
.intro > button {
    padding: 1em 4em;
    margin-top: 1.9em;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    background-color: #4D5B9E;
    font-size: 1.3rem;
}
.ques-ans{
    margin-left: 5%;
    width: 85%;
    border-bottom: 1px solid #DBDEF0;
}
.ques-ans > h2{
    color: #293264;
    font-weight: 500;
    margin-bottom: -0.01em;
    
}
.ques-ans > button {
    text-align: center;
    border-radius: 25px;
    padding: 0.5em 1em;
    border: 1px solid #4D5B9E;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #F5F7FB;
    color: #4D5B9E;
}

.checkBtn {
    background-color: #4D5B9E;
    border: none;
    border-radius: 10px;
    color: #F5F7FB;
    padding: 0.5em 1.5em;
}
footer{
    margin-top: 2em;
    text-align: center;
}.ques-ans > button.default-btn {
    background-color: #D6DBF5;
}

.ques-ans > button.correct-btn {
    background-color: #94D7A2;
}

.ques-ans > button.wrong-btn {
    background-color: #F8BCBC;
}

.ques-ans > button.default-btn:disabled,
.ques-ans > button.correct-btn:disabled,
.ques-ans > button.wrong-btn:disabled {
    opacity: 1;
}
.result-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}